* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ff4e00; }

h1, h2, h3, h4, h5, h6, .accordion-button, form legend {
  font-family: "Permanent Marker", cursive;
  color: rgba(255, 255, 255, 0.801); }

a, li, th {
  font-family: "Permanent Marker", cursive;
  color: rgba(255, 255, 255, 0.514); }

p, td, form label {
  font-family: "Montserrat", sans-serif;
  color: antiquewhite; }

.header {
  background-color: #ec7105;
  background-image: linear-gradient(to bottom, #ec9f05 0%, #ff4e00 85%); }

.logo {
  width: 5rem; }

.navText, .activeNavText {
  font-size: larger; }

.navText {
  transition: all 1s; }
  .navText:hover {
    color: antiquewhite;
    font-size: 1.5rem; }

.footerList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0; }

.footIcons {
  font-size: 200%;
  transition: all 1s; }
  .footIcons:hover {
    color: antiquewhite;
    font-size: 300%; }

.main {
  display: flex;
  flex-direction: row;
  align-items: center; }

.sectionNosotros {
  align-items: center; }
  .sectionNosotros .textoNosotros {
    text-align: right;
    justify-content: end; }

.textoContenido {
  position: absolute;
  bottom: 20%;
  left: 5%;
  z-index: 20; }
  .textoContenido .subtextoBanner {
    padding-left: 7rem;
    font-family: "Montserrat", sans-serif; }

.carousel-inner:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); }

.accordion-button {
  background-color: #ec7105; }

.accordion-button:not(.collapsed) {
  color: #ec9f05; }

.card {
  width: 8rem; }
  .card .imgCard {
    height: 15rem; }
  .card .card-title, .card .card-text, .card .textoBoton {
    color: black;
    font-size: 80%; }

.accordion-body {
  background-color: #ff4e00;
  color: antiquewhite; }

@media screen and (max-width: 750px) {
  .centrarYagrandarTexto, .main, .textoTurnos, .sectionNosotros .textoNosotros {
    text-align: center;
    font-size: 1.3rem; }
  .videoNosotros {
    padding-top: 1rem; }
  .sectionNosotros {
    align-items: center; }
    .sectionNosotros .textoNosotros {
      justify-content: center; }
  .navText, .activeNavText {
    font-size: 1.5rem; } }
