.main{
    display: flex;
    flex-direction: row;
    align-items: center;
}




.sectionNosotros{
    align-items: center;
    .textoNosotros{
        text-align: right;
        justify-content: end;
    }
}

.textoContenido {
    position: absolute;
    bottom: 20%;
    left: 5%;
    z-index: 20;
    .subtextoBanner{
        padding-left: 7rem;
        font-family: $tipografiaTextos;
    }
  }

.carousel-inner:after{
    
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }





