@media screen and (max-width: 750px){

    .main, .textoNosotros, .textoTurnos{
        text-align: center;
        font-size: 1.3rem;
    }

    .navText, .activeNavText{
        font-size:1.5rem;
    }

}