@media screen and (max-width: 750px){


    .centrarYagrandarTexto{
        text-align: center;
        font-size: 1.3rem;
    }

    .main, .textoTurnos{
        @extend .centrarYagrandarTexto;
    }

    .videoNosotros{
        padding-top: 1rem;
    }
    
    .sectionNosotros{
        align-items: center;
        .textoNosotros{
            @extend .centrarYagrandarTexto;
            justify-content: center;
        }
    }

    .navText, .activeNavText{
        font-size:1.5rem;
    }

}