.tablaTurnos{

    display:flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    overflow:auto;
    width: 90%;

    th,td{
        border: 0.1rem;
        border-color: $gris;
        border-style: solid;
        border-collapse: collapse;
        padding: 0.2rem;
        border-radius: 3%;
    }
}

