$grisClaro: rgba(255, 255, 255, 0.801);
$blanco: antiquewhite;
$gris: rgba(255, 255, 255, 0.514);
$tipografiaTitulos: 'Permanent Marker', cursive;
$tipografiaTextos: 'Montserrat', sans-serif;
$colorPrimario: #ff4e00;
$colorSecundario: #ec7105;
$colorTerciario: #ec9f05;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $colorPrimario;
    
}

@import "tipografias";
@import "header";
@import "footer";
@import "inicio";
@import "productos";
@import "responsive";







